<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.habitrpg.android.habitica"
    android:versionCode="119"
    android:versionName="0.0.34"
    android:screenOrientation="portrait"
    android:installLocation="auto" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="24" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".HabiticaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.PrefsActivity"
            android:parentActivityName=".ui.activities.MainActivity"
            android:label="@string/PS_settings_title"
            android:screenOrientation="portrait"
            tools:ignore="UnusedAttribute">
        </activity>
        <activity
            android:name=".ui.activities.LoginActivity"
            android:label="@string/LoginActivityName"
            android:theme="@style/AppThemeWithActionBarBlackText"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activities.IntroActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activities.SetupActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activities.SkillTasksActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <activity
            android:name=".ui.activities.AboutActivity"
            android:theme="@style/AppThemeWithActionBarBlackText"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activities.TaskFormActivity"
            android:theme="@style/AppThemeWithActionBarBlackText"
            android:parentActivityName=".ui.activities.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.GroupFormActivity"
            android:theme="@style/AppThemeWithActionBarBlackText"
            android:parentActivityName=".ui.activities.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.ClassSelectionActivity"
            android:theme="@style/AppThemeWithActionBarBlackText"
            android:parentActivityName=".ui.activities.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="UnusedAttribute"
            android:label="@string/select_class">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.PartyInviteActivity"
            android:theme="@style/AppThemeWithActionBarBlackText"
            android:screenOrientation="portrait"
            tools:ignore="UnusedAttribute"
            android:label="@string/invite_users">
        </activity>
        <activity
            android:name=".ui.activities.FullProfileActivity"
            android:theme="@style/AppThemeWithActionBarBlackText"
            android:parentActivityName=".ui.activities.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.MainActivity" />
        </activity>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
        <activity android:name=".ui.activities.MaintenanceActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <receiver  android:process=":remote" android:name=".NotificationPublisher" />

        <receiver android:process=":remote" android:name=".receivers.TaskReceiver"></receiver>

        <receiver android:name=".receivers.LocalNotificationActionReceiver">
            <intent-filter>
                <action android:name="ACCEPT_PARTY_INVITE"/>
                <action android:name="REJECT_PARTY_INVITE"/>
                <action android:name="ACCEPT_QUEST_INVITE"/>
                <action android:name="REJECT_QUEST_INVITE"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.TaskAlarmBootReceiver" android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action._BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <activity android:name=".ui.activities.AddTaskWidgetActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.HabitButtonWidgetActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <service
            android:name=".helpers.notifications.HabiticaFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".helpers.notifications.HabiticaFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="@string/content_provider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <receiver android:name=".widget.AvatarStatsWidgetProvider"
            android:label="@string/stats_widget_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/avatar_widget_info" />
        </receiver>
        <receiver android:name=".widget.DailiesWidgetProvider"
            android:label="@string/widget_dailies">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/dailies_task_widget_info" />
        </receiver>
        <receiver android:name=".widget.HabitButtonWidgetProvider"
            android:label="@string/widget_habit_button">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/habit_button_widget_info" />
        </receiver>
        <service android:name=".widget.AvatarStatsWidgetService"/>
        <service
            android:name=".widget.DailiesWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service android:name=".widget.HabitButtonWidgetService"/>
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>
