<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.habitrpg.android.habitica"
    android:versionCode="9"
    android:versionName="0.0.9"
    android:screenOrientation="portrait" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".HabiticaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".prefs.PrefsActivity"
            android:theme="@style/AppThemeWithActionBar"
            android:parentActivityName=".MainActivity"
            android:label="@string/PS_settings_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/LoginActivityName"
            android:theme="@style/AppThemeWithActionBarBlackText"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".widget.SimpleWidget"
            android:icon="@mipmap/ic_launcher"
            android:label="Habitica Simple Widget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <receiver android:name="com.habitrpg.android.habitica.receivers.NetworkChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service android:name=".widget.UpdateWidgetService" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="2eb3b3edb3b0f4722d37d649a5af366656e46ddd" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <activity
            android:name=".AboutActivity"
            android:theme="@style/AppThemeWithActionBarBlackText"/>
        <activity
            android:name=".TaskFormActivity"
            android:theme="@style/AppThemeWithActionBarBlackText"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.habitrpg.android.habitica.MainActivity" />
        </activity>
        <activity
            android:name=".TavernActivity"
            android:label="@string/title_activity_tavern"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.habitrpg.android.habitica.MainActivity" />
        </activity>
        <activity
            android:name=".PartyActivity"
            android:label="@string/title_activity_party"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.habitrpg.android.habitica.MainActivity" />
        </activity>
        <activity
            android:name=".GemPurchaseActivity"
            android:label="@string/title_activity_gem_purchase"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.habitrpg.android.habitica.MainActivity" />
        </activity>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
    </application>

</manifest>
