<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.playseeds.android.sdk">

    <!-- Permissions collected from Countly plugin and MobFox plugin -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <application
        android:name="androidx.multidex.MultiDexApplication">
        <!-- MobFox activities declaration -->
        <activity android:name="com.playseeds.android.sdk.inappmessaging.RichMediaActivity"
            android:theme="@android:style/Theme.Translucent"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:hardwareAccelerated="false" />
        <activity android:name="com.playseeds.android.sdk.inappmessaging.InAppWebView"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <!-- Required to use Google Play Services, but is already provided by GPS base AAR -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--<uses-library android:name="android.test.runner"/>-->
    </application>
    <!--<instrumentation android:name="com.playseeds.android.sdk.test.InstrumentationTestRunner"-->
    <!--android:targetPackage="ly.count.android.sdk"/>-->

</manifest>
